{% extends 'base.html' %}

{% block page_title%}
    Excluir tarefa
{% endblock page_title%}

{% block content %}
    <h1>Excluir Tarefa?</h1>
    <p>Tem certeza que deseja excluir a tarefa <strong>{{tarefas.title}}</strong>?</p>

    <form action="" method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'lista_afazeres_lista' %}" class="btn btn-primary">Cancelar</a>
    </form>

{% endblock content%}